In [300]:
import pandas as pd
import numpy as np

In [301]:
data = pd.read_csv('./20181127_d4_ballotimage.txt', sep=" ", header=None)
print(data.head(15))

                                                0
0   000003600000918700000010020000507001000014200
1   000003600000918700000010020000507002000013800
2   000003600000918700000010020000507003000013900
3   000003600000918800000010020000507001000014200
4   000003600000918800000010020000507002000013700
5   000003600000918800000010020000507003000014000
6   000003600000918900000010020000507001000014100
7   000003600000918900000010020000507002000000001
8   000003600000918900000010020000507003000000001
9   000003600000919000000010020000507001000014200
10  000003600000919000000010020000507002000013700
11  000003600000919000000010020000507003000014000
12  000003600000919100000010020000507001000014200
13  000003600000919100000010020000507002000000001
14  000003600000919100000010020000507003000000001

In [302]:
ballot = data.iloc[:, 0].astype(str)
print(type(ballot.str[0:4]))

<class 'pandas.core.series.Series'>

In [303]:
ballot_data = pd.DataFrame({
    'district': ballot.str[0:7],
    'serial_number': ballot.str[7:16],
    'precint_number': ballot.str[16:23],
    'unsure_1': ballot.str[23: 26],
    'unsure_1': ballot.str[26: 33],
    'rcv': ballot.str[33: 36],
    'candidate_number': ballot.str[36: 43],
    'unsure_2': ballot.str[43:45]
})

In [304]:
pd.pivot_table(ballot_data, values='candidate_number', columns="rcv", index="serial_number", aggfunc="first")

rcv                001      002      003
serial_number
000009187      0000142  0000138  0000139
000009188      0000142  0000137  0000140
000009189      0000141  0000000  0000000
000009190      0000142  0000137  0000140
000009191      0000142  0000000  0000000
000009192      0000139  0000000  0000000
000009193      0000142  0000139  0000144
000009194      0000144  0000143  0000137
000009195      0000144  0000138  0000142
000009196      0000143  0000140  0000140
000009197      0000141  0000141  0000141
000009198      0000142  0000000  0000000
000009199      0000144  0000141  0000139
000009200      0000140  0000141  0000143
000009201      0000140  0000144  0000139
000009202      0000140  0000144  0000139
000009203      0000140  0000142  0000137
000009204      0000142  0000140  0000138
000009205      0000137  0000138  0000140
000009206      0000137  0000140  0000142
000009207      0000137  0000137  0000141
000009208      0000142  0000137  0000140
000009209      0000142  0000137  0000140
000009210      0000143  0000140  0000141
000009211      0000141  0000141  0000141
000009212      0000137  0000140  0000138
000009213      0000143  0000143  0000143
000009214      0000140  0000137  0000141
000009215      0000142  0000143  0000142
000009216      0000140  0000141  0000137
...                ...      ...      ...
000429134      0000142  0000137  0000138
000429135      0000137  0000138  0000139
000429136      0000000  0000000  0000000
000429137      0000142  0000141  0000143
000429138      0000142  0000141  0000143
000429139      0000142  0000137  0000139
000429140      0000142  0000141  0000144
000429141      0000141  0000143  0000140
000429142      0000137  0000142  0000141
000429143      0000137  0000141  0000142
000429144      0000141  0000143  0000137
000429145      0000142  0000137  0000141
000429146      0000140  0000138  0000142
000429147      0000142  0000143  0000141
000429148      0000000  0000000  0000000
000429215      0000142  0000143  0000138
000429216      0000141  0000141  0000141
000429217      0000142  0000143  0000138
000429218      0000142  0000137  0000144
000429219      0000142  0000137  0000144
000429339      0000141  0000137  0000139
000429340      0000142  0000143  0000139
000429472      0000137  0000141  0000139
000429473      0000144  0000143  0000137
000429474      0000137  0000141  0000143
000429475      0000141  0000143  0000137
000429476      0000141  0000142  0000143
000429477      0000141  0000000  0000000
000429562      0000000  0000000  0000000
000429563      0000000  0000000  0000000

[31412 rows x 3 columns]